# 외부 API 키
KAKAO_REST_API_KEY=
TOUR_API_KEY=
PUBLIC_DATA_API_KEY=

# Snowflake 연동
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=RETAIL_AREA_CLUSTERING
SNOWFLAKE_SCHEMA=PUBLIC
